body {
  background: #111;
  color: #ffffff;
  font-family: Arial, sans-serif;
  text-align: center;
  padding-top: 30px;
  align-items: flex-start;
  margin-top: -30px;
}

canvas {
  margin-top: 20px;
  border: 2px solid #fff;
}

.game-container {
  margin-top: 10px;
}


button#startBtn {
  margin-top: 15px;
  padding: 10px 20px;
  font-size: 18px;
  background: #00ff88;
  color: #000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.3s;
}

button#startBtn:hover {
  background: #00cc66;
}


#gameOverOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.gameOverBox {
  background: rgb(42, 131, 1);
  padding: 30px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 0 20px black;
}

.gameOverBox h2 {
  color: rgb(255, 255, 255);
  margin-bottom: 10px;
}

.gameOverBox button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  background-color: #043df9;
  color: rgb(0, 255, 76);
  border-radius: 10px;
  cursor: pointer;
}

.gameOverBox button:hover {
  background-color: #009977;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("images/background1.jpg");
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.content {
  position: relative;
  z-index: 1;
}

#difficulty {
  padding: 5px 10px;
  font-size: 16px;
  margin-bottom: 10px;
  border-radius: 5px;
}

